registry=https://msazure.pkgs.visualstudio.com/One/_packaging/One_PublicPackages/npm/registry/
always-auth=true
@stratus:registry=https://msazure.pkgs.visualstudio.com/_packaging/MCIO/npm/registry/
@stratus:always-auth=true
@pa-client:registry=https://msazure.pkgs.visualstudio.com/OneAgile/_packaging/PowerApps-Client/npm/registry/ 
@pa-client:always-auth=true
